*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: blueviolet;
}
button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    
}
button:active{
    background-color: white;
    color: black;
}
.container{
    max-width: 1400px;
    margin: auto;
}
header{
    background-color: black;
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: white;
    font-size: 1.35em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: colum;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.541);
    border-bottom: 4px solid transparent;

}
header a:hover{
    color:rgb(255, 255, 255);
    border-bottom: 4px solid  rgb(255, 255, 255);
    /* background-color: rgb(62, 61, 63); */
    transition: all 600ms ease;
}
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ), url("imagenes/tec.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
#hero button{
    font-size: 1.75em;
}
#hero h1{
    color: white
}

#quien-soy{
    text-align: center;
    padding: 200px 12px;
}
#hobbies{
    background-color: black;
    color: white;
    text-align: center;
}
#hobbies .container{
    padding: 150px 0px;
}
#hobbies h2{
    margin-top: 0;
}
#hobbies p{
    display: none;
}
#hobbies .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/futbol.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/bas.jpg");}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/nata.jpg");
}
.carta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("imagenes/dota.jpg");
}


#contacto .container{
    text-align: center;
    padding: 250px 12px;
}

#contacto li{
    margin: 16px 0px;
    font-weight: bold;
}

#pagina-web{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: white;
    height: 80vh;
}

#pagina-web h2{
    font-size: 9vw;
}

#pagina-web button{
    font-size: 5vw;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #quien-soy .container{
        display: flex;
        justify-content: space-evenly;
    }

    #quien-soy .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #quien-soy h2{
        margin-top: 0px;
    }

    #quien-soy .img-container{
        background-image: url("imagenes/cris.png");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #hobbies .programas{
        display: flex;
        justify-content: center;
    }

    #hobbies p{
        display: block;
        margin-bottom: 30px;
    }

    #hobbies h2{
        font-size: 4em;
    }

    #hobbies h3{
        margin-top: 0;
    }

    #hobbies .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgba(50, 50, 50, 1);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }

    .carta:first-child{
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/futbol.jpg");

    }

    .carta:nth-child(2){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/bas.jpg");
    }

    .carta:nth-child(3){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/nata.jpg");

    }
    .carta:nth-child(4){
        background-image: linear-gradient(
            0deg,
            rgba(0,0,0,0.5),
            rgba(0,0,0,0.5)
        )
        ,url("imagenes/dota.jpg");

    }
    

    #contacto{
        background-image: url("imagenes/pexels-pixabay-267394\ \(1\).jpg");
        background-repeat: no-repeat;
        background-size: 500px 400px;
        background-position: calc(100vw - 500px) 120px;
    }

    #contacto .container{
        text-align: initial;
    }

    #contacto ul{
        margin-left: 100px;
    }

    #pagina-web h2{
        font-size: 5em;
    }

    #pagina-web button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
}

@media (min-width: 1200px) {
    #contacto{
        background-position-x: calc(100vw - 800px);
    }
}